@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 2560px;
  margin: 30px auto;
  overflow: auto;
  min-height: 1440px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px; 
  padding-right: 200px;
  padding-bottom: 30px;
}

.ticker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px; 
  padding-right: 100px;
}

.center {
  text-align: center;
}

.small {
  font-size: x-small;
}

.tile-section {
  display: flex;
}

.tile-element-left {
  width: 100%;
  padding-right: 10px;
}

.tile-element-right {
  flex-grow: 1;
}